.modal-backdrop {
    opacity: 0;
    z-index: 0;
}

#navBarButtons {
	display: flex;

}

#navBarButtons li {
	display: flex;
	justify-content: space-between;
}

#loginBtn {
	background-color: #222;
	color: #9d9d9d;
	border: none;
	font-size: 14px;
	transition: .5s;
}

#loginBtn:hover {
	color: white;
}

#loginBtn:active {
	border: none;
}

.carousel.carousel-slider .carousel-item {
	min-height: 570px;
}

.meal-plan-header {
    margin: 25px;
    max-width: 1280px;
    width: 90%;
}

body {
	background-color:black;
}

footer {
	text-align: center;
	color: white;
	padding: 10px
}

